{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container'>
  {{ partial "widgets/search" . }}

  <ul id='search-results' class='list search-results' data-results-empty='{{ i18n "searchResultEmpty" }}' data-searching='{{ i18n "searching" }}'>
  </ul>
</div>

{{- $searchable := where .Site.RegularPages ".Params.searchable" "ne" false -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "index" (slice) -}}
{{- range $page := $searchable -}}
  {{- $rawSummary := ( or $page.Params.description ($page.Summary | plainify) ) -}}
  {{- $plainSummary := ( $rawSummary | plainify ) -}}
  {{- $summary := cond (gt (len $plainSummary) 220) ($plainSummary | truncate 220) $plainSummary -}}
  {{- $scratch.Set "index" (append ($scratch.Get "index") (dict "title" $page.Title "summary" $summary "permalink" $page.Permalink "date" ($page.Date.Format "2006-01-02"))) -}}
{{- end -}}
{{- $index := $scratch.Get "index" -}}
<script type='application/json' id='search-index'>{{ $index | jsonify }}</script>
<script src='{{ "js/search.js" | relURL }}' defer></script>

{{ partial "footer" . }}
